

<script>
    volantis.layoutHelper("comments",`<div id="cusdis_thread"
        data-host="<%= theme.comments.cusdis.host || 'https://cusdis.com' %>"
        data-app-id="<%= theme.comments.cusdis.app_id %>"
        data-page-id="<%= page.path %>"
        data-page-url="<%= page.permalink %>"
        data-page-title="<%= page.title %>"
        ></div>`)
</script>
<script async src="https://cusdis.com/js/cusdis.es.js"></script>